.form-elegant .font-small {
    font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}
.checkbox {
    width: 20px;
    height: 20px;
}


.rinkLine {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 100%;
      
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
      
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;

        margin-left: 2%;
}