.dashboard-table {
    box-shadow: 3px 3px 8px #888888;
    margin-left: 15px;
}

table.table th.dashboard-table-head {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.table tbody tr td.dashboard-table-body {
    font-size: 12px;
    text-align: center;
}

table td.dashboard-table-btn {
    padding: 0;
}