.dashboard-table {
    box-shadow: 3px 3px 8px #888888;
}

.tableText {
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.teamText{
    font-size: large;
    text-align: center;

}