.container {
    margin-top: 50px;
}

.avatar {
    width: 250px;
    height: 250px;
}

#modalContainer {
    background-color: black;
    color: white;
}

.dashboard-name {
    justify-content: space-between;
    align-items: center;
}

.dashboard-text {
    font-weight: 600;
    text-align: left;
}

.dashboard-text > span {
    padding-left: 15px;
}


.secondary {
    color: #2196F3;
}