.container {
    margin-top: 50px;
    padding-left: 0 !important;
}
/* overwriting the bootstrap margin */
.btn {
    margin: 0;
}
.avatar {
    width: 250px;
    height: 250px;
    border: 2px solid black;
}

#modalContainer {
    background-color: black;
    color: white;
}

.dashboard-name {
    justify-content: space-between;
    align-items: center;
}

.dashboard-text {
    font-weight: 600;
    text-align: left;
}

.dashboard-text > span {
    padding-left: 15px;
}


.secondary {
    color: #2196F3;
}

.modalButtonMargin {
    margin-top: 5px !important;
}

#modalButton {
    width: 190px;
}